<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Home</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link rel="stylesheet" href="css/font-awesome.min.css" media="all" />

<!-- Style --> <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>Random <span>Error</span> Page</h1>
	<div class="w3layout-agileits">
	<h2>404 </h2>
	<h3>Oops! Page Not Found</h3>
	<p>Something went wrong</p>
	<p>Go back to your home page or you may also refresh the page</p>
	<a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Return Home</a>
	</div>

	<div class="w3footeragile">
		<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>

</body>
<!-- //Body -->

</html>