
@{
    ViewData["Title"] = "Add";
    @* Layout = "~/Views/Shared/_AdminLayout.cshtml"; *@
}


<form class="layui-form" action="" lay-filter="component-form-element" style="margin:30px" id="form1" name="form1">
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 110px;color:#FFF;">域名：</label>
        <div class="layui-input-block">
            <input type="text" name="DomainName" lay-verify="required" placeholder="请输入域名" autocomplete="off" class="layui-input" style="color: #FFF;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 110px;color:#FFF;">状态：</label>
        <div class="layui-input-block">
            <select name="State" lay-search>
                <option value="200" selected="selected">正常</option>
                <option value="500">停用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 110px;color:#FFF;">描述：</label>
        <div class="layui-input-block">
            <textarea name="Description" placeholder="请输入描述" class="layui-textarea"   style="color: #FFF;"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
            <div class="layui-input-block" style="left: 0;">
                <button class="layui-btn" lay-submit="" lay-filter="submitForm">保存</button>
            </div>
        </div>
    </div>
</form>

<script>
    var form;
    layui.use(['form', 'layedit', 'laydate'], function () {

        form = layui.form;
        var layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        form.render();
        //监听提交
        form.on('submit(submitForm)', function (data) {
            showLoader('保存中....',60);
            $.post("/DomainAndApp/AddDomain", data.field, function (result) {
               closeLoader();
                if (result.Flag) {
                    showGrowl('保存成功!', 'success', 3000);
                    reloadDomain();
                    layer.close(layuiWindow['AddDomain']); //再执行关闭
                }
                else {
                    showGrowl(result.Msg,'danger',4000);
                }
            });
            return false;

        });

    });
</script>